.info-reset{
    padding: 1em 1em;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 2em;
    -webkit-margin-start: 1em;
    -webkit-margin-end: 1em;
}

.frame{
	padding-bottom: 5em;
	padding-top: 2em;
}

#reset-pass #input-correo{
	width: 25em;
}