<div class="side-menu">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <div class="brand-wrapper">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div id="navbar" class="side-menu-container ">
            <ul class="nav navbar-nav">
                <li class="active" id="btn-articulos"><a href="dashboard"><span><i class="fa fa-language fa-2x" aria-hidden="true"></i></span> Articulos</a></li>
                <li id="btn-ver-cartas"><a href="cartas"><span><i class="fa fa-copyright fa-2x" aria-hidden="true"></i></span> Verificaci&oacute;n de  Cartas</a></li>
                <li id="btn-pagos"><a href="depositos"><span><i class="fa fa-credit-card-alt fa-2x" aria-hidden="true"></i></span> Pagos de Publicación</a></li>
                <li id="btn-pagos-asistentes"><a href="depositospublico"><span><i class="fa fa-money fa-2x" aria-hidden="true"></i></span> Pagos de Asistentes</a></li>
                <li id="btn-ctrl-asistencia"><a href="control_asistencia"><span><i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i></span> Control de Asistencia</a></li>
                <li id="btn-facturas"><a href="#"><span><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i></span> Facturacion</a></li>
                <li id="btn-imp-gafete"><a href="imprimir_gafete"><span><i class="fa fa-id-badge fa-2x" aria-hidden="true"></i></span> Impresión Gafetes</a></li>
                <li id="btn-imp-constancias"><a href="imprimir_constancia"><span><i class="fa fa-certificate fa-2x" aria-hidden="true"></i></span> Impresión Constancias</a></li>
                <li id="btn-usuarios"><a href="usuario"><span><i class="fa fa-users fa-2x" aria-hidden="true"></i></span> Usuarios</a></li>
                <li id="btnCambioPas"><a href="cambiarpwd"><span><i class="fa fa-plug fa-2x" aria-hidden="true"></i></span> Cambiar contraseña</a></li>
                <li id="btn-logout"><a href="index/cerrarSesion"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i> logout</a></li>
            </ul>
        </div>
    </nav>
</div>