        <div class="side-menu">

            <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <!-- Hamburger -->
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
            <!-- Main Menu -->
            <div class="side-menu-container ">
                <ul class="nav navbar-nav">

                    <li id="btnPerfil"><a href="perfil"><span><i class="fa fa-address-card fa-2x" aria-hidden="true"></i></span> Perfil del autor</a></li>
                    <li id="btnArticulos"><a href="misarticulos"><span> <i class="fa fa-language fa-2x" aria-hidden="true"></i></span> Registro de art&iacute;culos</a></li>
                    <!--<li><a href="#"><span><i class="fa fa-users fa-2x" aria-hidden="true"></i></span> Registro de co-autores</a></li> -->
                    <li id="btnCtrlCartas"><a href="cartasautor"><span><i class="fa fa-creative-commons fa-2x" aria-hidden="true"></i></span> Cartas</a></li>
                    <li id="btnCartaAceptacion"><a href="cartaaceptacion"><span><i class="fa fa-copyright fa-2x" aria-hidden="true"></i></span> Carta de Aceptaci&oacute;n</a></li>
                    <li id="btnPagos"><a href="mispagos"><span><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i></span>Pago de cuotas</a></li>
                    <li id="btnFacturacion"><a href="#"><span><i class="fa fa-money fa-2x" aria-hidden="true"></i></span> Facturaci&oacute;n</a></li>
                    <li id="btnGefete"><a href="gafete"><span><i class="fa fa-id-badge fa-2x" aria-hidden="true"></i></span> Imprmir Gafete</a></li>
                    <li id="btnConstancia"><a href="constancias"><span><i class="fa fa-certificate fa-2x" aria-hidden="true"></i></span> Constancia</a></li>
                    <!--<li class="active"><a href="#"><span class="glyphicon glyphicon-plane"></span> Active Link</a></li>-->
                    <li id="btnCambioPas"><a href="cambiarpwd"><span><i class="fa fa-plug fa-2x" aria-hidden="true"></i></span> Cambiar contraseña</a></li>
                    <li><a href="index/cerrarSesion"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i> logout</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
            </nav>
        </div>